In [1]:
%load_ext autoreload
%autoreload 2

In [14]:
from water_pollution.model import arima

In [2]:
import pandas as pd

In [3]:
station_id = 6059500

In [5]:
!pwd

/home/sve/code/sebvey/water_pollution/water_pollution/api

In [8]:
folder_path = '../../cooked_data/station_data_2011_2021/'
file_name = str(station_id) + '.pickle'

file_path = folder_path + file_name
station_df = pd.read_pickle(file_path)

In [12]:
station_df = station_df[['1340']]

In [13]:
station_df

            1340
date
2011-11-01  11.1
2011-12-01  11.1
2012-01-01  13.0
2012-02-01  13.0
2012-03-01  10.6
...          ...
2021-04-01  10.5
2021-05-01   9.1
2021-06-01   8.9
2021-07-01   7.9
2021-08-01   8.7

[118 rows x 1 columns]

In [16]:
# Appel de la func arima.predict

In [25]:
{
    'nitrate_series':station_df['1340'],
}

date
2011-11-01    11.1
2011-12-01    11.1
2012-01-01    13.0
2012-02-01    13.0
2012-03-01    10.6
              ...
2021-04-01    10.5
2021-05-01     9.1
2021-06-01     8.9
2021-07-01     7.9
2021-08-01     8.7
Freq: MS, Name: 1340, Length: 118, dtype: float64